/* From Uiverse.io by adamgiebl */ 
.btn {
    font-family: inherit;
    font-size: 20px;
    background: var(--accent-color);
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 12px !important;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    margin: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .btn:hover span {
    transform: translateX(5em);
  }
  
  .btn:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-height: 40vh;
    border-radius: 8px;
    min-width: 20vw;
    min-height: 20vh;
    background-color: #f8f8f8;
    text-align: center;
    max-width: 100%;
    max-height: 60vh;
    overflow: hidden;
  }

.image-wrapper:hover {
  background-color: #d3d3d3;
  transition: all 0.1s ease-in-out;
}
  
.image-wrapper-container {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-preview {
  padding: 12px;
  background-color: #fff;
  border-radius: 8px;
}
  
.uploaded-image {
  max-width: 100%;
  max-height: 50vh;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  border-radius: 6px;
}

.image-label {
  font-size: 1rem;
  color: #555;
}

.camera-icon {
  font-size: 48px;
  color: #666;
}

.text {
  color: aliceblue;
}

.result {
  padding: 20px;
  background-color: #fff;
  color: #555;
}